
# Basics

In [2]:
a = 'hello'
a = "hello"
word = 'this is "some kind" of message'
print(word)
# multiline string 
message = '''This is one line
This is another line 
This is the last line'''

message ="""one is a number
Two is another number 
three is  the last number"""
print(message)
print(message)

this is "some kind" of message
one is a number
Two is another number
three is  the last number
one is a number
Two is another number
three is  the last number

# String type

In [3]:
name = 'john'
message = f'this is {name}'
raw_string = r'this is\na \nraw \nstring'
address = r'C:\Users\SHIVANI\Desktop\javascript and ES6\tree2.py'
binary = b'hello'
print(message)
print(raw_string)
print(address)
print(b'hello')

this is john
this is\na \nraw \nstring
C:\Users\SHIVANI\Desktop\javascript and ES6\tree2.py
b'hello'

# string duplication

In [4]:
"+" * 15

'+++++++++++++++'

# string properties

In [5]:
. string are indexed
. string are immutable
. string are iterable

SyntaxError: invalid syntax (130306302.py, line 1)

In [ ]:
name = "shivani sonker"
print(len(name))
print(name[0])
print(name[1])
print(name[-1])
print(name[-2])
print(name[0])
print(name[0], name[1], name[2], name[3], name[4],name[6])

14
s
h
r
e
s
s h i v a i

In [ ]:
#name[1] = 'f' # string are immutable and will throw on error

# slicing str[start : end step]

In [ ]:
name = "william shakespeare"
print(name[8])
print(name[8:13])
print(name[0:7])
print(name[0:4])
print(name[-5:-1])
print(name[:7])

s
shake
william
will
pear
william

In [ ]:
sentence = "Journey Before Destination"
print(sentence[8])
print(sentence[0:7])
print(sentence[8:14])
print(sentence[15:])

B
Journey
Before
Destination

In [ ]:
word = "Euclyptus"
print(word[::2]) # step  size (even)
print(word[1::2])
print(word[::-1])

Ecyts
ulpu
sutpylcuE

In [ ]:
amount = "$1000000.00"
amount = amount[1:]
print(amount)

1000000.00

In [ ]:
name = "Dr. Vikram Prasad"
print(name[4:10])
print(name[-6:])

Vikram
Prasad

In [ ]:
word ='__python__' #  clean this word 
print(word[2:-2]) # skip first 2 and last 2 elements

python

In [ ]:
# F strings
me = "shivani"
a = " this is %s"%me
print(a)

 this is shivani

In [ ]:
import math
me = "shivani"
a1 =3
a = f"this is {me} {a1} {math.sin(65)}"
print(a)

this is shivani 3 0.8268286794901034

# function in string

In [ ]:
formatting
find nad replace
vo

In [ ]:
word ="Tomato is a fruit"
word = word.upper()
print(word)

TOMATO IS A FRUIT

In [ ]:
print(word)
print(word.lower())
print(word.title())
print(word.capitalize())
print(word.swapcase())
print(word.casefold())
print("hello".swapcase())

TOMATO IS A FRUIT
tomato is a fruit
Tomato Is A Fruit
Tomato is a fruit
tomato is a fruit
tomato is a fruit
HELLO

In [ ]:
word.find('Is')

-1

In [ ]:
word = "we are having a very important meeting"
v_idx = word.find('very')
print(word[v_idx:])

very important meeting

In [ ]:
word.find('ant')

27

In [ ]:
word.replace("a", "o")

'we ore hoving o very importont meeting'

In [ ]:
word = word.replace('important', 'boring')
print(word)

we are having a very boring meeting

In [ ]:
data= 'a b a b a b abc'
data = data.replace('a b', 'c', 3)
print(data)

c c c abc

In [ ]:
x = '10000'
if x.isnumeric():
    x = int(x)
    print(x)
else:
        print('Invalid input')

10000

In [ ]:
fnm = "Sameer"
if fnm.isalpha():
    print('valid')  
else:
    print('Invalid')

valid

In [ ]:
name = "Er .Vikram Prasad"
if name.startswith('Dr'):
    print('you are a doctor')
elif name.startswith('Mr'): 
    print('you are a gentleman')
else:
    print('who are  you')

who are  you

. count
. strip
. spilt 
. join

In [6]:
msg = "La La Land"
print(msg.count('La'))

3

In [17]:
msg2 ="peter picked a peck of pickled peppers"
cp = msg2.count('p')
print(f'p occrred {cp} times') variable or string both are mix in this line

p occrred 7 times

In [22]:
from string import ascii_lowercase
for letter in ascii_lowercase:
    print(letter, msg2.count(letter))

a 1
b 0
c 3
d 2
e 7
f 1
g 0
h 0
i 2
j 0
k 3
l 1
m 0
n 0
o 1
p 7
q 0
r 2
s 1
t 1
u 0
v 0
w 0
x 0
y 0
z 0

In [23]:
for i in ascii_lowercase:
    c = msg2.count(i)
    if c > 0: print(f'{i} occured {c} times')

a occured 1 times
c occured 3 times
d occured 2 times
e occured 7 times
f occured 1 times
i occured 2 times
k occured 3 times
l occured 1 times
o occured 1 times
p occured 7 times
r occured 2 times
s occured 1 times
t occured 1 times

In [7]:
word = "ola Amigos   "
print(f'{word=} & length = {len(word)}')

word='ola Amigos   ' & length = 13

In [8]:
word = word.strip()
print(f'{word=} & length = {len(word)}')

word='ola Amigos' & length = 10

In [37]:
a = ''' 
raju

'''
a

' \nraju\n\n'

In [38]:
print(a,len(a))
a = a.strip()
print(a, len(a))

raju

 8
raju 4

In [9]:
name = input("enter name:")
print(name, len(name))
print(name.strip(), len(name.strip()))
print(name.lstrip(), len(name.lstrip()))
print(name.rstrip(), len(name.rstrip()))

  yguhji    11
yguhji 6
yguhji    9
  yguhji 8

In [6]:
dirty_data = ['Alex ', ' John ',' Mary ','Sam ',' Tom ']
for name in dirty_data:
    print(name.strip())

Alex
John
Mary
Sam
Tom

In [10]:
msg = "There is a place with a very long name"
word = msg.split()
print(word, len(word))

['There', 'is', 'a', 'place', 'with', 'a', 'very', 'long', 'name'] 9

In [2]:
msg2 = "Alpha, Beta,Gamma,Delta,Epsilon"
msg2.split(',')

['Alpha', ' Beta', 'Gamma', 'Delta', 'Epsilon']

In [11]:
msg3 = 'This is sparta. This is Goa. This is Delhi'

In [16]:
msg3.split('. ')

['This is sparta', 'This is Goa', 'This is Delhi']

In [23]:
words = ['hi', 'there', 'how', 'are', 'you', '?']
print(words)

['hi', 'there', 'how', 'are', 'you', '?']

In [24]:
msg = ' '.join(words)
print(msg)

hi there how are you ?