In [8]:
from random import randint

In [9]:
x = [] # empty List
for i in range(25):
    x.append(randint(1, 100))
print(x)

[98, 9, 11, 100, 14, 27, 32, 27, 13, 97, 78, 35, 69, 65, 28, 64, 77, 40, 14, 33, 19, 35, 94, 72, 23]

In [10]:
val = 84 
if val in x:
    x.remove(val)

In [11]:
x.index(52)

ValueError: 52 is not in list

In [ ]:
x.index(81)

17

In [ ]:
x.pop(11) # index 11

56

In [ ]:
x.pop() # Last elment

41

In [ ]:
x.sort() # ascending order
print(x)

[2, 9, 11, 31, 32, 42, 52, 58, 58, 60, 68, 74, 75, 79, 83, 91]

In [ ]:
x.sort(reverse=True) # descending order
print(x)

[91, 83, 79, 75, 74, 68, 60, 58, 58, 52, 42, 32, 31, 11, 9, 2]

In [ ]:
x.count(58)

2

In [ ]:
x.copy()

[91, 83, 79, 75, 74, 68, 60, 58, 58, 52, 42, 32, 31, 11, 9, 2]

In [ ]:
x =[1, 2, 3, 4, 5]
y = x                 # reference
z = x.copy()          # duplicate
y.append(15)
x.remove(3)
z.append(10)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)
print(y is z)

[1, 2, 4, 5, 15]
[1, 2, 4, 5, 15]
[1, 2, 3, 4, 5, 10]
True
False
False

In [ ]:
x.clear()

In [ ]:
x

[]

### Questions
- wap to count all the number greater than 50 in a list of 100 elements

In [ ]:
x = []
for _ in range(100):
    x.append(randint(1, 100))
print(x)

[84, 29, 16, 36, 1, 42, 44, 39, 50, 24, 16, 22, 16, 30, 25, 2, 97, 88, 94, 92, 32, 22, 69, 67, 16, 81, 85, 79, 6, 7, 76, 30, 93, 25, 97, 85, 30, 67, 8, 24, 30, 97, 93, 5, 38, 79, 36, 90, 19, 43, 80, 51, 16, 100, 52, 35, 77, 35, 73, 41, 35, 29, 83, 50, 44, 29, 66, 63, 90, 71, 37, 19, 59, 51, 61, 15, 64, 33, 28, 56, 33, 74, 33, 27, 17, 99, 97, 74, 81, 78, 91, 34, 74, 81, 66, 32, 38, 11, 70, 16]

In [ ]:
c50 = 0
for i in x:
    if i >= 50:
        c50 += 1
print(f'we have {c50} numbers >= 50')

we have 48 numbers >= 50

- Add all the numbers that are less than equal to 25 & display the result

In [ ]:
sub25 = [i for i in x if i <= 25]
print(sum(sub25))

348

In [ ]:
list

In [ ]:
add50 = [i for i in x if i <= 25]
print(sum(add50))

348

In [ ]:
x = [1, 2, 3, 4, 5]
x2= []
for i in x:
    x2.append(i + 10)
print(x2)

[11, 12, 13, 14, 15]

In [ ]:
y = [11, 23, 42, 62, 12, 56, 67, 23, 65]
yodd = []
for i in y:
    if i % 2 != 0:
        yodd.append(i)
print(y) 
print(yodd)

[11, 23, 42, 62, 12, 56, 67, 23, 65]
[11, 23, 67, 23, 65]

In [ ]:
xcubes = [i**4 for i in x]
print(x)
print(xcubes)

[1, 2, 3, 4, 5]
[1, 16, 81, 256, 625]

- create a list of squares of only even numbers from an existing list

In [17]:
xsqreven = []
for i in x:
    if i % 2 == 0:
        xsqreven.append(i**2)
print(x)
print(xsqreven)

[98, 9, 11, 100, 14, 27, 32, 27, 13, 97, 78, 35, 69, 65, 28, 64, 77, 40, 14, 33, 19, 35, 94, 72, 23]
[9604, 10000, 196, 1024, 6084, 784, 4096, 1600, 196, 8836, 5184]