# 5 Variations of print() function

In [16]:
name = "Alexis"
price = 99.99
qty = 10

In [17]:
print(name, price, qty,price*qty)

Alexis 99.99 10 999.9

In [18]:
# name purchases qty  items for price costing total

In [19]:
# comma separated values
print(name,'purchases', qty, 'items for', price,'costing', price* qty)

Alexis purchases 10 items for 99.99 costing 999.9

In [23]:
# concatenation using + (plus)
print(name + ' purchases'+ str(qty)+'items for' + str (price) + 'costing '+ str(price * qty ))

Alexis purchases10items for99.99costing 999.9

In [11]:
print('%s purchases %d items for %f costing %f'\
    %(name,qty,price,price*qty))

Alexis purchases 10 items for 99.990000 costing 999.900000

In [27]:
# format method
print('{} purchases {} items for {} costing {},format(name,qty,price,price * qty)')

{} purchases {} items for {} costing {},format(name,qty,price,price * qty)

In [28]:
print(f"Name => {name}")
print(f"Item price => ${price}")
print(f"Quantity => {qty}")
print(f"Total price => ${price * qty:.2f}")

Name => Alexis
Item price => $99.99
Quantity => 10
Total price => $999.90

In [29]:
sum([21,22,45,48,99,88])

323

In [30]:
max([21,22,45,48,99,88])

99

In [31]:
min([21,22,45,48,99,88])

21

In [32]:
len([21,22,45,48,99,88])

6

In [33]:
len("hello")

5