In [45]:
x = (1,2,3)
print(x , type(x))

(1, 2, 3) <class 'tuple'>

##tuple
- tuple is immutable
- tuple is indexed, ordered, and allows duplicate elements
- tuple is faster than list
- heterogeneous elements can be stored in tuple
- `tuple( )` function can be used to convert sequence to tuple
- represented by `( )`

In [46]:
z = "hello", "world", "of", "tuple" # data packing
print(z, type(z))

('hello', 'world', 'of', 'tuple') <class 'tuple'>

In [47]:
# data unpacking
g,j,t,h = z
a,*b =z
print(z)
print(z)

('hello', 'world', 'of', 'tuple')
('hello', 'world', 'of', 'tuple')

In [48]:
for i in z:
    print(i)

hello
world
of
tuple

In [49]:
z[:2]# slicing

('hello', 'world')

In [50]:
z.count("oof") #count

0

In [1]:
x= (1,2,2,1,1,1,2,2,3,3)
x.count(1)

4

In [2]:
sum(x)/len(x)

1.8

### set

- unordered
- unindexed
- no duplicate elements
- mutable
- cam only store immutable elements 
- represented bt `{}`
- `set()` function can be used to convert sequence to set

In [58]:
x = {1,2,3,4,5,6,7,8,9,10}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [60]:
set('Shivani')

{'S', 'a', 'h', 'i', 'n', 'v'}

In [64]:
y = {'string','Number',1209,[1,2,3]}

TypeError: unhashable type: 'list'

In [67]:
a = {12,13,2,5,3,48,45,22,0,14, 22,55}
print(a)

{0, 2, 3, 5, 12, 13, 45, 14, 48, 22, 55}

In [79]:
for i in a:
    print(i)

0
2
3
5
12
13
45
14
48
22
55

In [4]:
sum(x)

18

In [69]:
x = {1,2,3,4}
y = {3,4,5,6}
z = {1,2,3,4}

In [73]:
x.union(y) # or x / y

{1, 2, 3, 4, 5, 6}

In [80]:
x | y

{1, 2, 3, 4, 5, 6}

In [81]:
x & y # x.intersection(y)

{3, 4}

In [82]:
x-y #.difference(y)

{1, 2}

In [83]:
y-z

{5, 6}

In [85]:
x > y

False

In [86]:
x > {1,2,3} # is x a superset of {1,2,3}

True

In [87]:
x < {1,2,3,4,5,6} # is x a subset of {1,2,3,4,5,6}

True

In [88]:
x.issubset(y)

False

In [89]:
x ^ y # x.symmetric_difference(y)

{1, 2, 5, 6}

In [91]:
x.add (12)
x

{1, 2, 3, 4, 12}

In [92]:
x.update([12,13,14,15])
x

{1, 2, 3, 4, 12, 13, 14, 15}

In [93]:
x.discard(13)

In [94]:
x.pop()

1

In [95]:
x

{2, 3, 4, 12, 14, 15}

In [98]:
x.pop()
x

{4, 12, 14, 15}